
.btn{ /* :link , :viisted etc are pseudo class selectors */
    text-transform: uppercase;
    &:link, &:visited{
        text-decoration: none;
        padding: 1rem 2rem;
        margin-top: 2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 200ms;
        position: relative;
    }


&:hover{
    transform: translateY(-.3rem);
    box-shadow:  0 1rem 2rem rgba(0,0,0, 0.2); /* horizontal offset , vertical offset , blur and color */
}

&:active {
    transform:translatey(.1rem);
    box-shadow:  0 .5rem 1rem rgba(0,0,0, 0.2);
}

&--white{
    background-color: white;
    color:$color-grey;
}

&::after{ /* after is special pseudo element which allows to style the element after the current class element*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;

    transition:all 300ms;
}

&--white::after{
    background-color: white;
}

&:hover::after{
    transform: scaleX(1.5) scaleY(1);
    opacity: 0;
}

&--animated {
    animation-name: moveInFromBottom; 
    animation-duration: 1000ms;
    animation-fill-mode: backwards; /* by using this we implement the changes of this class before the other*/ 
}

}


.btn-text {
    
    &:link, &:visited{
        font-size: $default-font-size;
        color: $color-primary-dark;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;
        transition: all 200ms;
        padding: 1rem;
    }

    &:hover{
        background-color: $color-primary-dark;
        color:white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        transform: translateY(-2px);
    }

}