
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /**/


&--main{
    font-size: 3rem;
    display: block;
    font-weight: 300;
    letter-spacing: 2rem;
 
    /* the below 2 are required to use key frame animation */
    animation-name: moveInLeft; 
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
  
 }
 
 
&--sub {
     font-size: 1.5rem;
     display: block;
     font-weight: 200;
     letter-spacing: 0.70rem;
 
     animation-name: moveInRight; 
     animation-duration: 1000ms;
     animation-timing-function: ease-out;
 }
}