.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0rem;
    margin-top: -20vh; /* to cover the triangle wedge made by the header*/
    
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark) /*linear gradient direction , start color - end color */
    ,url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-5deg);
    & > * { /* direct child of the section_featuers class */
        transform: skewy(5deg);
    }
}

.section-tours{
    padding: 20rem 0 50rem 0;
    background-color: $color-grey-light-1;
    margin-top: -10rem;
}